

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    font-weight: 700;
}

/*          H E A D E R         
===============================================================================================================
=============================================================================================================*/

header {
    display: flex;
    height: 64px;
    border: 1px solid black;
    background-color: black;
    position: sticky;
    top: 10px;
}


.logo {
    height: 64px;
    min-width: 156px;
}  

.breadcrumb {
    box-sizing: border-box;
    background-color: black;
    margin-top: 0;
    width: 100%;
    height: 64px;   
    padding-top: 21.4px;
}

.breadcrumb li {
    display: inline;
    padding: 16px 24px 16px 8px;
    margin-left: 8px;
    border-radius: 35% 0 0 35%;
    background-image: linear-gradient(to left, rgb(0, 0, 0) , rgb(102, 74, 74));
    
}

.breadcrumb li.current {
    background-image: linear-gradient(to left, rgb(17, 16, 17) , rgba(255, 46, 46, 0.8));
}

#shop {
    display: none;
}


.breadcrumb li:hover {
    background-image: linear-gradient(to left, rgb(17, 16, 17) , rgba(255, 46, 192, 0.8));
}

header .fa {
    display: none;
}

.hidden {
    display: inline;
    border-radius: 35% 0 0 35%;
}

header a {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 22px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline;     
    position: relative;    
    z-index: 1;     
    padding: 2em;     
    margin: -2em; 
}

header input[type=text] {
    margin: 5px 10px 5px 5px;
    border-radius: 18px;
    width: 45%;
    font-size: 22px;
}

header input[type=text]:hover {
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(255, 112, 212, 0.75));
}

header input[type=text]:focus {
    outline: none;
}

header input[type=text]:focus::placeholder {
    color: transparent;
}

@media only screen and (max-width: 1100px) {
    #shop {
        display: inline;
    }

    .hidden {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    header {
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
    }

    .logo {
        min-width: 130px;
        flex-basis: 30%;
        flex-grow: 0;
    }

    header input[type=text] {
        min-width: 150px;
        flex-basis: 50%;
        flex-grow: 1;
        order: 2;
        margin: 5px 10px;
    }

    .breadcrumb {
        order: 3;
        margin-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        box-sizing: content-box;
        padding-top: 0;
        justify-content: space-around;
        align-content: center;
    }

    .breadcrumb li {
        margin-left: 0;
        margin-right: 20px;
        flex-basis: 50px;
        box-sizing: content-box;
        padding: 12px;
    }

    header a {
        font-size: 20px;
        z-index: 1;     
        padding: 0.5em 1em;
        margin: -1em;
    }

    header .fa {
        display: flex;
        font-size: 34px;
        color: rgb(255, 108, 211);   
    }


}

/*          M A I N     C O N T E N T
==============================================================================================================
============================================================================================================*/

.container {
    display: flex;
    border-bottom: 2px solid;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 17%;
    flex-shrink: 1;
    padding: 5px 3px 5px 8px;
    background-image: linear-gradient(to bottom right, hsl(0, 0%, 100%), hsl(0, 0%, 100%));
    font-weight: 900;
}

aside span {
    font-size: 20px;
}

.quantity {
    color: rgba(171, 9, 123, 0.65);
    font-size: 32px;
}

.fa {
    font-size: 64px;
}

.main-content {
    display: flex;
    width: 83%;
    flex-shrink: 1;
    padding: 20px 30px 20px 0;
    background-image: linear-gradient(to bottom right, hsl(0, 0%, 100%), hsl(0, 0%, 100%));
}

article {
    padding-left: 10px;
    width: 50%;
    font-size: 20px;
    text-align: justify;
}

.narrow-text {
    display: flex;
    flex-basis: 23%;
    flex-direction: column;
    justify-content: start;
}

.narrow-text h1 {
    margin: 10px;
}

.price {
    font-size: 64px;
    font-family: 'Kalam', cursive;
    font-weight: 900;
    color:  rgba(171, 9, 123, 0.65);
    margin: 0;
}

button {
    font-size: 22px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(102, 74, 74));
    height: 60px;
    width: 100%;
    border-radius: 15px;
    font-family: 'Ubuntu Mono', monospace;
}

button:hover {
    background-image: linear-gradient(to right, rgb(242, 220, 237, 0.75) , rgba(233, 44, 176, 0.75));
}

article .fa, aside .fa {
    font-size: 22px;
}

.extra-images {
    width: 20%;
    height: 350px;
    padding-top: 20px;
}

.extra-images img {
    height: 30%;
}

.extra-images img+img {
    margin-top: 10px;
}

.extra-images img:hover {
    border: 2px solid rgb(255, 112, 212);
}

figure {
    width: 50%;
    overflow: hidden;
}

.figure-images {
    max-width: 100%;
    height: 350px;
}

.left-link, .right-link {
    line-height: 1.5em;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 22px;
    font-weight: 500;
    color: rgb(102, 74, 74);
    text-decoration: none;
}

.left-link:hover, .right-link:hover {
    color: rgb(255, 112, 212);
}

.left-link {
    margin-left: 10px;
}

.right-link {
    float: right;
    margin-right: 10px;
}

.right-mobile, .left-mobile {
    display: none;
}

.right, .left {
    border: solid;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 7px;
}
 
.right, .right-mobile {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left, .left-mobile {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

@media only screen and (max-width: 1100px) {
    .container {
        flex-direction: column;
    }
    
    figcaption br {
        display: none;
    }

    aside {
        order: 2;
        width: 100%;
        padding-bottom: 20px;
    }

    figure {
        min-width: 55%;
    }

    article {
        min-width: 25%;
    }

    .narrow-text {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 800px) {

    .main-content {
        flex-direction: column;
        padding: 10px;
    }

    figure, article {
        width: 100%;
        margin: 10px;
        padding: 0;
    }

    .figure-images {
        height: auto;
        margin-left: 10px;
    }

    .right, .left {
        display: none;
    }

    .right-mobile, .left-mobile {
        border: solid;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .left-link, .right-link {
        font-size: 14px;
        padding: 2px;
    }

    .extra-images {
        display: flex;
        width: 100%;
        height: auto;
        padding-top: 0;
    }
    
    .extra-images img {
        width: 30%;
        height: auto;
        margin: 5px 10px;
    }
    
    .extra-images img+img{
        margin-top: 0;
    }
    
}

footer {
    background-image: linear-gradient(to left, rgba(227, 62, 188, 0.75) , rgb(255, 255, 255, 0.75));
    height: 80px;
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: space-between;
    padding: 2px 20px;
}

footer .fa {
    font-size: 22px;
}

@media only screen and (max-width: 600px) {
    footer {
        font-size: 16px;
        height: 40px;
    }

    footer .fa {
        font-size: 18px;
    }
}

@media only screen and (max-width: 380px) {
    footer {
        font-size: 12px;
        height: 60px;
    }
}